@import "../../../styles/settings.scss";

.root {
  box-shadow: 2px 3.464px 6px $header-menu-shadow;
  background-color: $header-menu-bg;

  :global(.container) > :global(.row) {
    height: 84px;
  }

  .menu {
    display: flex;
    align-self: stretch;

    ul {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        list-style: none;
        display: flex;
        align-items: stretch;
      }
    }

    a {
      color: $header-menu-text-color;
      text-transform: uppercase;
      font-size: 12px;
      padding: 1rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      border-top: 4px solid $header-menu-top-border;
      font-weight: 500;
      letter-spacing: 1px;

      &:hover {
        transition: $transition; 
        background-color: $hover-background;
        color: $hover-text-color;
        text-decoration: none;
        transform: scale($hover-scale) translate($hover-left-right, $hover-top-down);
        position: relative;
      }
      &.active {
        background-color: $header-menu-hover-bg;
        color: $header-menu-hover-text;
        border-color: $header-menu-hover-bg;
      }

      &.active {
        border-color: $header-menu-activeText-color;
      }
    }
  }
}
