@import "../../../styles/settings.scss";

.root {
  padding: 0 0;


  .container {
    padding: 0 0;

  }

  .banner {
    text-align: center;
  }

  .product_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .product_list{
      text-align: center;

    }
    .filters{
      text-align: center;

    }
  }
  .brands{
    text-align: center;

  }
}
