@import "../../../styles/settings.scss";


// .root {
// }

.main {
  background-color: $button-main-bg;
  color: $button-main-color;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.noHover):hover {
    color: $button-main-hover-text !important;
    background-color: $button-main-hover-bg;
    text-decoration: none;
    transform: scale($hover-scale) translate($hover-left-right, $hover-top-down);
    position: relative;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $button-outline-border;
  color: $button-outline-color;
  font-size: 13px;
  line-height: 22px;

  &:not(.noHover):hover {
    transition: $transition; 
    background-color: $hover-background;
    color: $hover-text-color;
    text-decoration: none;
    transform: scale($hover-scale) translate($hover-left-right, $hover-top-down);
    position: relative;
  }
}

.color {
  background-color: $primary;
  // font-size: 13px;
  // line-height: 24px;
  // padding: 5px 10px;
  // font-weight: 400;
}

