@import "../../../styles/settings.scss";

.root {
  background-color: $header-topbar-bg;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      line-height: 55px;

      a {
        color: $header-links;
        font-size: 13px;

        &:hover {
          color: $primary;
          text-decoration: none;
        }
      }
    }
  }

  .topOptions ul li {
    margin-right: 1.5rem;

    .icon {
      margin-left: 5px;
    }
  }

  .topMenu ul li {
    margin-left: 1.5rem;

    .icon {
      margin-right: 5px;
    }
  }
}

.flexclass {
  display: flex;
}

@media only screen and (max-width: 600px) {
  span {
    display:  none;
  }

  li {
    margin-right: 5px !important;
  }
}