
.container{
    margin-bottom: 1px;
    padding-bottom: 1px;
}
.brandImageBox{
    max-height: 75px;
    margin-bottom: 10px;
    padding-bottom: 1px;
    display: flex;
    border-top: 1px solid grey;
    border-bottom:  1px solid grey;

    .sliderBox{
        display: flex;
        overflow-x: hidden;
        flex-wrap: nowrap;
        

        .brandImage{
            border: 3px solid grey;
            margin: 5px;
            min-width: 32.5%; 

            img{
                width:  100%;
                height: 100%;
                object-fit: contain;

            }
        }
    }   
}

.faBox{
    margin: 5px;
    min-height: 100%;
    width: 5%;
    border: 2px solid black;
	position: relative;
    background-color: black;
    cursor: pointer;

    .fa{
        position: absolute;  
        top: 50%;  
        left: 50%;  
        transform: translate(-50%, -50%);
        color: white;

    }
}