@import "../../../styles/settings.scss";

.root {
  background-color: $product-box-bg;
  border: 1px solid $product-box-border;
  margin-bottom: 2rem;

  .photo {
    position: relative;
    padding: 80% 10px 0 10px;
    background: {
      color: $product-photo-bg;
      size: cover;
      position: center;
      repeat: no-repeat;
    }
    // background-image: url("./public/images/Bed/1.jpg");
    overflow: hidden;
    align-items: flex-end;

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $product-sale-bg;
      border-radius: 50%;
      color: $product-sale-color;
      padding: 30px 15px 5px 15px;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
    }

    .none {
      display: none;
    }
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }
  }

  .test {
    color: $lightGrey
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid $product-lineUnder-star;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $product-line-before;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .stars {

      background-color: gold;
      
    }
  }
}

