@import "../../../styles/settings.scss";





.root {
  border: 1px solid white;
  display: inline-flex;
  height: 45px;
  color: white;

  .category {
    border-right: 1px solid white;
    display: flex;
    align-items: center;
    position: relative;

    .icon:first-child {
      color: white;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }

    select {
      -webkit-appearance: none;
      border: 0;
      background-color: transparent;
      padding: 5px 30px 5px 35px;
      position: relative;
      z-index: 1;
      outline: none;
      font-size: 14px;
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: white;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
  
}

.dropdown {
  position: relative;
  padding: 0 35px;
  cursor: pointer;
  z-index: 0;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
  z-index: 1;
}

.content {
  position: absolute;
  display: flex;
  top: 44px;
  width: 100%;
  left: 0px;
  background-color: white;

  ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    display: none;
    border: 1px solid $productSearch-border;

    border-top: transparent;

    li:hover {
      background-color: $primary;
    }
  }
}

.dropdown:hover .content ul {
  display: block;
}

li:hover {
  background-color: white;
}

