@import "../../../styles/settings.scss";

.wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 30px;
    height: 500px;

    .left{
        
        width: 100%;
        height: 100%;
        overflow: hidden;
        

        .main{
            width: 100%;
            margin: auto;
            position: relative;
            height: 75%;
            border: 2px solid grey;
            background-color: black;
        
        }
        .buttonBox{ 
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            .btn{
                
                border: 2px solid grey;
                cursor: pointer;
            }

        }
        .content{
            background-color: red;
            //position: absolute;
            
            img{
                height: 100%;
                width: 100%;
                object-fit: fill;
                position: absolute;
            }

            .content1{
                visibility: hidden;
        
            }
            .content2{
                visibility: hidden;
            }
            .content3{
                visibility: hidden;
            }
            .content4{
                visibility: hidden;
            }
        }

        .slider{
            display: flex;
            color: red;
            min-height: 100px;
            align-items: flex-end;
            flex-direction: row;

            border: 1px solid black;

            .sliderImg{
                border: 2px solid black;
                display: flex;
                align-items: row;
                justify-content: space-between;
                width: 100%;
                background-color: black;
                .smallImageBox{
                    min-height: 67px;
                    min-width: 17%;
                    margin-right: 4%;
                    
                    
                    img{
                        object-fit: fill;
                        width: 120%;
                        height: 100%;
                        
                    }
                } 
            }


            .arrow{
	            position: relative;
                background-color: black;
                min-height: 65px;
                align-items: center;
                margin-bottom: 5px;

                .fa{
                    
                    align-items: center;
                    color: white;
                    margin: 0;
                    top: 50%;                  
                    transform: translate(0, 120%) 
                }
            }
            
        }

    }

    .smallImageBox{
        border: 2px solid black;
        max-width: 20px;
        max-height: 20px;

        .img{
            object-fit: contain;
        }

    }

    .btn1{
        background-color: grey;
    }
    .btn2{

    }
    .btn3{

    }
    .btn4{

    }

    .right{
        position: relative;
        margin-left: 5%;
        .description{
            position: absolute;
            bottom: 50%;
            left: 7%;

            h1{
                color: gold;
            }
        }
        span{
            color: green;
            font-size: 50px;
        }
        img{
            object-fit: cover;
            
            width: 100%;
            height: 100%
        }
        button{
            text-align: center;
            background-color:  green;
            border-radius: 10%;
            color: white;
            padding: 10px;

        }
        


    }
    

    
}
